// COLORS
$color-primary-dark: #3F5D45;
$color-primary-medium: #8DA291;
$color-primary-light: #EAF0ED;

$color-secondary: #FFE180;

$color-white: #fff;
$color-black: #000;

$color-shadow-light: #efefef;



// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;