@media only screen and (max-width: 1056px) {
    .intro-para {
        width: 28vw;
        height: 30vw;
        margin-top: -1.2vw;
    }

    .intro-para p {
        line-height: 2em; 
    }

    .intro-1-para {
        left: 50vw;
    }
    
    .intro-2-para {
        left: 1vw;
    }
}

@media only screen and (max-width: 960px) {
    .intro-para {
        height: 33vw;
        margin-top: -3vw;
    }
    
    .intro-para p { font-size: 1em; }
    .intro-quote { font-size: 2em; }
    .footer-quote { font-size: 1.5em; }

    .label { 
        letter-spacing: 0.05em;
        font-weight: 400; 
    }
}

@media only screen and (max-width: 825px) {
    html, body { font-size: 15px; }
    .intro-para p { line-height: 2em; }
}

@media only screen and (max-width: 767px) {
    html, body { font-size: 16px; }
    i.icon { font-size: 2.2em; }
    .margin-row { margin: 0 }

    .logo-text {
        margin-left: 5vw;
        width: 30.4vw;
        height: 4.7vw;
    }

    .lightGreen-bg {
        background-color: #EAF0ED;
        height: auto;
    }
    
    /*--------- HEADER ----------*/

    header { margin: 0; }

    .navbar { 
        padding: 3vw 8vw 2vw 8vw;
        height: auto;
        margin-bottom: 1vw; 
    }

    .navbar.sticky {  
        padding: 1vw 5vw; 
        margin: 0;
    }

    .sticky .logo-text {
        width: 28vw;
    }

    .sticky .ion-md-cart {
        font-size: 1.8em !important; 
    }

    .ion-md-cart {
        font-size: 2em !important; 
    }
    
    .logo-icon { display: none; }
    .mobile-nav-icon { display: inline-block; }
    #main-link { display: none; }
    #mobile-main-link { 
        display: none;
    }

    .main-nav { 
        margin-top: 1vw;
    }
    .main-nav li {
        width: 32.5%;
        margin-left: 0;
    }
    
    .main-nav li a {
        width: 100%;
    }

    .home-img {
        height: 73.9vw; 
    }

    .home-img img {
        margin-top: -1vw;
    }

    .main-item {
        margin: 0;
    }

    .main-item li {
        height: 40vw;
    }

    /*--------- INTRO ----------*/

    .intro-1 {
        margin-bottom: 0;
    }
    
    .intro-content {
        position: static;
        display: flex;
        flex-direction: column;
    }
    
    .intro-img {
        width: 100vw;
        height: 67vw;
    }
    
    .intro-img img {
        margin-top: -42vw;
    }
    
    .intro-1-img {
        position: relative;
    }
    
    .intro-2-img {
        position: relative;
    }
    
    .intro-para {
        writing-mode: horizontal-tb;
        width: 100vw;
        height: auto;
        padding-top: 8vw;
        padding-bottom: 8vw;
        margin-top: -2vw;
    }
    
    .intro-para p {
        width: 84vw;
        height: auto;
        margin: 0 auto; 
        line-height: 2em; 
    }

    .intro-para p:first-child {
        margin-bottom: 1.5vw;
    }
    
    .intro-1-para {
        position: relative;
        top: 0;
        left: 0;
    }
    
    .intro-2-para {
        position: relative;
        top: 0vw;
        left: 0vw;
    }
    
    .intro-quote {
        writing-mode: horizontal-tb;
        font-size: 2em;
        line-height: 1.4em;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: #FFFFFF;
    }
    
    .intro-quote p span {
        writing-mode: vertical-lr;
    }
    
    .intro-quote p:last-child {
        padding-top: 0;
    }
    
    .intro-1-quote {
        position: relative;
        top: 0vw;        
        width: 100vw;
        height: 32vw;
    }
    
    .intro-2-quote {
        position: relative;
        top: 0vw;
        left: 0vw;
        width: 100vw;
        height: 32vw;
    }
    
    .intro-3 {
        height: 32vw;
    }
    
    .intro-3-quote {
        width: 100vw;
        display: flex;
        align-items: center;
    }

    /*--------- PRODUCT ----------*/

    .product .flexbox {
        justify-content: center;
    }
    
    #card-2,
    #card-3 {
        display: none;
    }

    .card {
        width: 84vw;
    }

    .label {
        width: 10vw;
        height: 25vw;
        padding-top: 2.7vw; 
        left: 5.6vw;
        letter-spacing: 0.5em;
        font-size: 1.2em;
    }

    .heart-icon {
        width: 5.3vw;
        height: 4.9vw;

        top: 5.1vw;
        right: 6.5vw;
    }

    .product-img {
        height: 84vw;
    }

    .product-1 {
        margin-top: -21vw;
    }

    .product-text {
        height: 15vw;
    }

    .buy-btn {
        height: 17.3vw;
    }

    /*--------- CONTACT ----------*/
    .contact {
        height: 49vw; 
        margin-top: 8vw;
    }

    .contact-form {
        padding: 8vw;
        flex-wrap: wrap;
    }

    .logo-icon-light {
        width: 10.7vw;
        height: 10.7vw;
        margin-left: 5.3vw;
        margin-right: 5.3vw;
    }

    .contact-text {
        width: auto;
        height: 8.8vw;
        display: flex;
        align-items: center;
        letter-spacing: 0.05em;
        font-size: 1.8em;
    }

    .input-area {
        width: 80vw;
        height: 15vw;
        margin-top: 6vw;
    }

    .input-area input {
        padding-left: 11.5vw;
        font-size: 1.7em;
    }

    .mail-icon {
        width: 6.4vw;
        top: 4.7vw;
        left: 3.3vw;
    }

    .mail-icon i {
        font-size: 2.3em;
    }

    .submit-btn {
        width: 17.1vw;
        height: 15vw;
    }

    .submit-btn input {
        padding: 0;
    }

    /*--------- FOOTER ----------*/

    footer {
        padding: 8vw 0 6vw 8vw;
        height:  70vw !important;
    }

    .footer-logo {
        top: 0;
    }

    .footer-quote {
        display: none;
    }

    .info {
        height: auto;
        top: 17vw;
    }

    .social-links {
        bottom: 0;
        top: 42vw;
    }

    .social-links div {
        width: 6vw;
        height: 6vw;
        margin-right: 2vw; 
    }

    .copyright {
        left: 0;
        bottom: 0;
    }

}

@media only screen and (max-width: 530px) {
    html, body { font-size: 15px; }
    i.icon { font-size: 2em; }

    .sticky .ion-md-cart {
        font-size: 1.5em !important;
    }

    .ion-md-cart {
        font-size: 1.8em !important; 
    }

    .label {
        letter-spacing: 0.2em;
    }

    .logo-icon-light {
        margin-left: 4vw;
    }

    .contact-form {
        padding: 6vw;
    }

    .input-area {
        width: 84vw;
    }

    .mail-icon i {
        font-size: 2em;
    }

}